# docker-compose.yml
version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: docker/frontend/Dockerfile
    container_name: frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - frontend_node_modules:/app/node_modules
    command: npm run dev
    networks:
      - app-network

  api:
    build:
      context: .
      dockerfile: docker/backend/Dockerfile
    container_name: backend
    volumes:
      - ./backend:/app
    command: ./gradlew bootRun
    entrypoint: [] 
    ports:
      - "8080:8080"
    depends_on:
      - db
    networks:
      - app-network

  db:
    build:
      context: .
      dockerfile: docker/database/Dockerfile
    container_name: mysql_db
    environment:
      MYSQL_DATABASE: app_db
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - app-network

volumes:
  db_data:
  frontend_node_modules:

networks:
  app-network:
    driver: bridge